@layer app {
  .searchlist {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;

    & > li {
      display: flex;
      align-items: center;
    }
  }

  .memberlist {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    gap: 8px;

    & > li {
      padding: 0.25rem 0.5rem;
      font-size: 0.9rem;
      line-height: 1rem;
      border-radius: 0.25rem;
      background-color: var(--nuke-color-bg-2);
      transition: background-color 125ms ease;

      &:hover {
        background-color: var(--nuke-color-bg-3);
      }

      & > code {
        & > .playpause {
          display: inline-block;
          width: 0.8em;
          text-align: center;
          transition: color 125ms ease;

          &.unready {
            color: var(--app-color-warn-1);
          }
        }

        & > .ping {
          transition: color 125ms ease;

          &.ok {
            color: var(--app-color-success-1);
          }

          &.warn {
            color: var(--app-color-warn-1);
          }

          &.danger {
            color: var(--app-color-danger-1);
          }
        }
      }
    }
  }

  .video {
    width: 100%;
  }
}
